body, html{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto; /* ou scroll */
  background-color: rgb(126, 117, 117);  
}

#espaco-sobre {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0; /* coloca o canvas atrás */
}

.conteudo {
  position: relative;
  z-index: 1; /* garante que fique na frente do canvas */
  color: white;
  font-family: Arial, sans-serif;
  padding: 20px;
}

.titulo-p{
  display: flex;
  justify-content: center;
  padding-top: 60px;
}

.titulo-projeto{
  font-size: 40px;
  font-family: 'Orbitron', sans-serif;
  text-shadow: 0 0 10px white;
}

.Projeto-imagem{
  height: 300px;
  width: 470px;
  border-radius: 8px;
}

.nome-projeto{
  font-size: 22px;
  padding-left: 0.5em;
  text-shadow: 0 0 10px rgb(255, 255, 255);
}

.borda{
  margin-left: 0.4em;
  box-shadow: 0 0 10px white;
  position: relative;
  bottom: 15px;
  width: 150px;
  border-bottom: 2px solid white;
  
}

.paragrafo-projeto{
  font-size: 17px;
  text-align: justify;
  max-height: 120px;
}

.texto-scroll{
  max-height: 140px;
  overflow-y: auto;
  padding-right: 10px;
}

.conteudo-projetos{
  padding: 1em;
  height: 570px;
  width: 500px;
  border-radius: 12px;
  border: solid 2px white;
  box-shadow: 0 0 10px white;
  background-color: #3b1f40;
}

.container-principal{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 55px;
  margin-top: 100px;
}

.texto-scroll::-webkit-scrollbar {
  width: 9px; /* largura da barra */
}

.texto-scroll::-webkit-scrollbar-track {
  background: #ffffff; /* cor de fundo da trilha */
  border-radius: 10px;
}

.texto-scroll::-webkit-scrollbar-thumb {
  background-color: #000000; /* cor da "alça" que rola */
  border-radius: 15px;
  border: 1px solid #fdfdfd; /* cria um efeito de espaço */
}

.texto-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #201f1f; /* muda a cor ao passar o mouse */
}

.hovver-conteudo{
  overflow: hidden;
  border-radius: 12px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hovver-conteudo:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 20px white;
}

.botao-voltar {
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  border: 2px solid #ffffff;
  box-shadow: 0 0 10px white;
  padding: 8px 12px;
  border-radius: 8px;
  font-family: 'Orbitron', sans-serif;
  transition: background-color 0.2s, color 0.2s;
}

.botao-voltar i {
  margin-right: 8px;
}

.botao-voltar:hover {
  background-color: #ffffff;
  color: rgb(2, 0, 0);
  border: solid 3px #000000;
  font-family: 'Orbitron', sans-serif;;
}


.links {
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  border: 2px solid #ffffff;
  box-shadow: 0 0 10px white;
  padding: 6px 60px;
  border-radius: 8px;
  font-family: 'Orbitron', sans-serif;
  transition: background-color 0.2s, color 0.2s;
}

.links i {
  margin-right: 8px;
}

.links:hover {
  background-color: #ffffff;
  color: rgb(2, 0, 0);
  border: solid 3px #000000;
  font-family: 'Orbitron', sans-serif;;
}

.div-link{
  display: flex;
  justify-content: space-evenly;
  margin-top: 8px;
}

